body {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    /* height: 95vh; */
}

nav {
    /* width: 15%; */
    background-color: rgb(169, 169, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;
}

img {
    height: auto;
    width: 90%;
    margin-top: 15%;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
    width: 90%;
}

li input {
    display: none;
}

li label, li button, a {
    text-decoration: none;
    display: block;
    line-height: 3;
    color: #fa3b14;
    background: rgb(211, 211, 211);
    font-weight: bold;
    text-align: center;
    /* font-size: 1.3vw; */
}

li button {
    width: 100%;
    border: 0;
}

li label:hover, li button:hover, a:hover {
    color: rgb(255, 255, 255);
    background-color: #fa3b14;
    cursor: pointer;
}

.order-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 90%;
}

.orders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    /* background-color:green; */
    flex: 5;
}

.order {
    display: flex;
    /* background-color:yellow; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.orders-container .order:nth-child(odd) {
    background-color: rgb(223, 213, 213);
}

.orders-container .order:nth-child(even) {
    background-color: #fa3b14;
    color: rgb(255, 255, 255);
}

@media (max-width:800px) {
    body {
        display: block;
        align-items: center;
        margin: 0px;
    }
    nav {
        /* width: 15%; */
        background-color: rgb(169, 169, 169);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    img {
        height: auto;
        width: 90%;
        margin-top: 15%;
        background-color: #ffffff;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        width: 90%;
    }
    a {
        text-decoration: none;
        display: block;
        line-height: 2;
        color: #fa3b14;
        background: rgb(211, 211, 211);
        font-weight: bold;
        text-align: center;
        font-size: 100%;
    }
}

img {
    margin-top: 0%;
}